<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>HTML5/CSS3简易联系表单DEMO演示</title>

    <link rel="stylesheet" href="/application/view/templates/css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="container">  
  <form id="contact" action="" method="post">
    <h3>报名</h3>
    <h4>请填写以下信息：</h4>
    <fieldset>
      <input placeholder="昵称" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="身份证号码" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="手机号码" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
	<select name="cars">
	<option value="volvo">Volvo</option>
	<option value="saab">Saab</option>
	<option value="fiat">Fiat</option>
	<option value="audi">Audi</option>
	</select>
	    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>



  
  
  </form>

</div>
<div style="text-align:center;clear:both">
</div>
</body>

</html>