<?php include('inc/wx_before_body.php');?>
<body class="wx_detail">
	<ul class="detail">
	<?php 
		
		$item = $this->userinfo  ;
        if( $item['commerce_type'] != 'sendinfo'){

            if ($item['province'] == $item['city']){
                $user = $item['city'].' '.$item['name']   ;
            }else { 
                $user = $item['province'].' '.$item['city'].' '.$item['name']   ;
            }       
        }

	?>	
	<?php if( $item['commerce_type'] === 'order') {?>	
	<!-- 新车询价 begin -->
		<li>
			<h1><?php echo $user.' '.$item['type_name'] ?></h1>
			<cite><?php echo $item['date']?></cite>
		</li>
		<li><label>车型：</label><?php echo $item['carinfo'] ?></li>
		<li>
			<label>手机：</label><a href="tel:<?php echo $item['phone']?>"><?php echo $item['phone']?></a> 
				<?php if($item['status'] == 1) { ?>
				<span>未联系</span> 
				<?php } else if ($item['status'] == 2) { ?>
				<span class="succ">已联系</span> 
				<?php } else if ($item['status'] == 3) { ?>
				<span class="fail">联系未成功</span>
				<?php } ?>
		</li>
		<li>
			<label>时间：</label><?php echo $item['insert_time']?>
		</li>
		<li>
			<table><tr><td nowrap="nowrap">备注：</td><td><?php echo $item['remark']?></td></tr></table>
		</li>
	<!-- 新车询价 end -->


	<?php }else if ( $item['commerce_type'] === 'repair' ){?>
	<!-- 预约维修 begin -->
		<li>
			<h1><?php echo $user ?></h1>
			<cite><?php echo $item['date']?></cite>
		</li>
		<li><label>车型：</label><?php echo $item['carinfo'] ?></li>
		<li>
			<label>手机：</label><a href="tel:<?php echo $item['phone']?>"><?php echo $item['phone']?></a> 
				<?php if($item['status'] == 1) { ?>
				<span>未联系</span>
				<?php } else if ($item['status'] == 2) { ?> 
				<span class="succ">已联系</span> 
				<?php } else if ($item['status'] == 3) { ?>
				<span class="fail">联系未成功</span>
				<?php } ?>
		</li>
		<li>
           <table><tr><td nowrap="nowrap">故障类型：</td><td><?php echo $item['type_name']?></td></tr></table>		
		</li>
		<li>
			<label>预约时间：</label><?php echo $item['repair_time']?> 
		</li>
		<li>
			<label>时间：</label><?php echo $item['insert_time']?>
		</li>
		<li>
			<table><tr><td nowrap="nowrap">备注：</td><td><?php echo $item['remark']?></td></tr></table>
		</li>
	<!-- 预约维修 end -->
	
	<?php }else if ( $item['commerce_type'] === 'act' ){?>
	<!-- 活动报名 begin -->
		<li>
			<h1> <?php echo $user ?> <br/><span>【<?php echo $item['actname']?>】</span></h1>
			<cite><?php echo $item['date']?></cite>
		</li>
		<li><?php echo $item['carinfo'] ?></li>
		<li>
			<label>手机：</label><a href="tel:<?php echo $item['phone']?>"><?php echo $item['phone']?></a> 
				<?php if($item['status'] == 1) { ?>
				<span>未联系</span> 
				<?php } else if ($item['status'] == 2) { ?>
				<span class="succ">已联系</span> 
				<?php } else if ($item['status'] == 3) { ?>
				<span class="fail">联系未成功</span>
				<?php } else {?>
				<span class="fail">联系状态未知</span>
				<?php } ?>	
		</li>
		<li>
			<label>时间：</label><?php echo $item['insert_time']?>
		</li>
	<!-- 活动报名 end -->
	


	<?php }else if ( $item['commerce_type'] === 'sendinfo' ){?>
	<!-- 用户短信获取地址 begin -->
		<li>
			<h1>用户短信获取地址</h1>
			<cite><?php echo $item['date']?></cite>
		</li>
		<li>
			<label>手机：</label><a href="tel:<?php echo $item['phone']?>"><?php echo $item['phone']?></a> 
                <?php if($item['status'] == 1) { ?>
                <span>未联系</span>
                <?php } else if ($item['status'] == 2) { ?>
                <span class="succ">已联系</span>
                <?php } else if ($item['status'] == 3) { ?>
                <span class="fail">联系未成功</span>
                <?php } else {?>
                <span class="fail">联系状态未知</span>
                <?php } ?>		
		</li>
		<li>
			<label>时间：</label><?php echo $item['insert_time']?>
		</li>
	<?php } ?>	
	
	<!-- 活动报名 end -->
		<li class="line">
			<h2>确认联系结果</h2>
			<span>我们可以根据联系结果帮您过滤更多无效商机</span>
		</li>
		<li class="button" id="<?php echo $item['id'] ?>" commerce_type="<?php echo $item['commerce_type']?>" >
			<?php if ($item['eff_con'] == 'none') { ?>
			<button class="succ">有效商机<em></em></button><br/>
			<button class="fail">无效商机<em></em></button><br/>
			<button class="not">联系未成功<em></em></button><br/>
			<?php }else if ($item['eff_con'] == 'succ') {?>
            <button class="succ touched">有效商机<em></em></button><br/>
            <button class="fail">无效商机<em></em></button><br/>
            <button class="not">联系未成功<em></em></button><br/>
            <?php }else if ($item['eff_con'] == 'fail') {?>
            <button class="succ">有效商机<em></em></button><br/>
            <button class="fail touched">无效商机<em></em></button><br/>
            <button class="not">联系未成功<em></em></button><br/>
            <?php }else if ($item['eff_con'] == 'not') {?>
            <button class="succ">有效商机<em></em></button><br/>
            <button class="fail">无效商机<em></em></button><br/>
            <button class="not touched">联系未成功<em></em></button><br/>
			<?php } ?>
			
		</li>
	<!-- 用户短信获取地址 end -->
		
	</ul>
</body>
<?php include('inc/wx_after_body.php');?>
